.outer-shadow {
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    box-shadow: var(--inner-shadow);
}